.addedNotification {
  border-style: solid;
  border-color: green;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: green;
  background: lightgray;
  font-size: 20px;
}

.errorNotification {
  border-style: solid;
  border-color: red;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: red;
  background: lightgray;
  font-size: 20px;
}